<!DOCTYPE html>
<html>
<head>
  <title>42 words you love, hate or have mixed feelings about</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <navbar>
    <% if logged_in? %>
      <%= button_to 'Log out', logout_path, method: :delete %>
    <% else %>
      <%= button_to 'Log in', login_path %>
    <% end %>
  </navbar>

  <%= yield %>

</body>
</html>
