<!DOCTYPE html>
<html>
<head>
  <title>42 words you love, hate or have mixed feelings about</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <navbar>
    <% if logged_in? %>
      <%= link_to 'Users', users_path %>
      <%= link_to 'Words', words_path %>
      <%= link_to 'Feelings', feelings_path %>
      <%= button_to 'Log out', logout_path, method: :delete %>
    <% else %>
      <%= button_to 'Log in', login_path %>
    <% end %>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
  </navbar>

  <%= yield %>

</body>
</html>
